<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <title>Login Form</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/custom.css">
</head>

<body>

<!-- 
    <section class="main d-flex align-items-center justify-content-center">
        <div class="container1">
            <div class="form-box login">
                <form action="/login" method="post">
                    <h1>Login</h1>
                    <div class="input-box">
                        <input type="email" placeholder="Email" name="email" required>
                        <i class="fa-solid fa-user"></i>
                    </div>
                    <div class="input-box">
                        <input type="password" placeholder="Password" name="password" required>
                        <i class="fa-solid fa-lock"></i>
                    </div>
                    <div class="mb-4 d-flex justify-content-between  form-infoo">
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                            <label class="form-check-label" for="exampleCheck1">Remender Me</label>
                        </div>
                        <div class="forget-pass">
                            <a href="#">Forget Password?</a>
                        </div>
                    </div>
                    <button type="submit" class="btn">Login</button>
                    <p>or login with social media platforms</p>
                    <div class="social-media-2 d-flex align-items-center gap-4 justify-content-center">
                        <a href="#"><i class="fa-brands fa-facebook"></i></a>
                        <a href="#"><i class="fa-brands fa-apple"></i></a>
                        <a href="#"><i class="fa-brands fa-google"></i></a>
                        <a href="#"><i class="fa-brands fa-github"></i></a>
                    </div>
                </form>
            </div>
            
            <div class="form-box register">
                <form action="/register" method="post">
                    <h1>Registration</h1>
                    <div class="input-box">
                        <input type="text" placeholder="Username" name="username" required>
                        <i class="fa-solid fa-user"></i>
                    </div>
                    <div class="input-box">
                        <input type="email" placeholder="Email" name="email" required>
                        <i class="fa-solid fa-envelope"></i>
                    </div>
                    <div class="input-box">
                        <input type="password" placeholder="Password" name="password" required>
                        <i class="fa-solid fa-lock"></i>
                    </div>
                    <button type="submit" class="btn">Register</button>
                    <p>or sign up with social media platforms</p>
                    <div class="social-media-2 d-flex align-items-center gap-4 justify-content-center">
                        <a href="#"><i class="fa-brands fa-facebook"></i></a>
                        <a href="#"><i class="fa-brands fa-apple"></i></a>
                        <a href="#"><i class="fa-brands fa-google"></i></a>
                        <a href="#"><i class="fa-brands fa-github"></i></a>
                    </div>
                </form>
            </div>

            
            <div class="toggle-box">
                <div class="toggle-panel toggle-left">
                    <h2>Hello Everyone!</h2>
                    <p class="mt-2">Don't have an account?</p>
                    <button type="button" class="btn register-btn" id="register">Register</button>
                </div>
                <div class="toggle-panel toggle-right">
                    <h2>Welcome Back!</h2>
                    <p class="mt-2">Already have an account?</p>
                    <button type="button" class="btn login-btn" id="login">Login</button>
                </div>
            </div>
        </div>
    </section>
     

      <script>
          
          const container1 = document.querySelector('.container1');
          const registerBtn1 = document.querySelector('.register-btn');
          const loginBtn1 = document.querySelector('.login-btn');
          
          registerBtn1.addEventListener('click', () => {
            container1.classList.add('active');
          });
          
          loginBtn1.addEventListener('click', () => {
            container1.classList.remove('active');
          });
          
    
      </script>
 -->



    <script src="/js/bootstrap.bundle.js"></script>
    <script src="/js/script.js"></script>
</body>

</html>